<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./addproduct.css">
</head>
<body>
    <div class="Container">
        <div>
            <h1>Add Product</h1>
        </div>
        <form>
            <label>Product Name</label>
            <input type="text" name="productName" placeholder="Add Product Name">
            <label>Brand</label>
            <input type="text" name="brand" placeholder="Add Brand">
            <label>Supplier</label>
            <input type="text" name="supplier" placeholder="Add Supplier">
            <label>Supplier Tel:</label>
            <input type="number" name="supplierTel" placeholder="Add tel">
            <button class="btn add-btn" type="submit">Add</button>
            <button class="btn cancel-btn" type="submit">Cancel</button>
        </form>
    </div>
</body>
</html>