<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboar Medix</title>
    <link rel="stylesheet" href="./dashboard.css" />
    <script src="https://kit.fontawesome.com/db1fd6b42b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="App">
        <div class="Navbar-header">
            <header>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-users"></i><span>Users</span></a></li>
                    <li><a href="./Products.html"><i class="fa-solid fa-cart-plus"></i><span>Products</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-clipboard"></i><span>Inventory</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-outdent"></i><span>Outgoing</span></a></li>
                </ul>
            </header>
            <div class="Appnav">
                <div class="nav">
                    <div class="user">
                        <i class="fa-solid fa-search"></i>
                        <i class="fa-solid fa-bell"></i>
                        <img src="../giraffeee.jpg" alt="" class="doctor" />
                        <span>Paul</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="whole">
        <div class="SideBar">
            <div class="LogoContainer">
                <h2>Stock Management</h2>
            </div>
            <div class="Order">
                <p>Products</p>
                <span>12</span>
            </div>
            <div class="Order">
                <p>Inventory</p>
                <span>12</span>
            </div>
            <div class="Order">
                <p>Outgoing</p>
                <span>12</span>
           </div>
            <div class="Order">
                <p>Stock Admins</p>
                <span>12</span>
            </div>
        </div>
        <div class="body-all">
            <div class="user-all">
                <div class="users-now">
                    <span>Admins</span>
                    <button><i class="fa-solid fa-plus" style="padding: 0 0.5em;"></i> Register User</button>
                </div>
                <div class="users-sort">
                    <div>
                        <span>Show</span>
                        <select name="name" id="select">
                            <option value="10">10</option>
                            <option value="12">12</option>
                            <option value="12">12</option>
                            <option value="12">12</option>
                        </select>
                        <span>Entries</span>
                    </div>
                    <input type="search" placeholder="Search by client naem" class="search-input" />
                </div>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                            <tr className="heads">
                                <th>Name<i class="fa-solid fa-sort"></i></th>
                                <th>Contact<i class="fa-solid fa-sort"></i></th>
                                <th>Region<i class="fa-solid fa-sort"></i></th>
                                <th>Status</th>
                                <th colSpan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Manzi Cedric</td>
                                <td>cedrickmanzi0@gmail.com</td>
                                <td>Kigali,Rwanda</td>
                                <td><span class="td-pending">Pending</span></td>
                                <td><i class="fa-solid fa-trash"></i></td>
                                <td><i class="fa-solid fa-pencil"></i></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>