<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up </title>
    <link rel="stylesheet" href="signupform.css">
    <script src="https://kit.fontawesome.com/954941076f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sign-up">
        <span id="header">Sign Up</span>
        <div class="form">
            <form action="#">
                <label>username</label><input type="text" placeholder="Enter your username">
                <label>Email Address</label><input type="text" placeholder="Enter your email">
                <label>password</label><input type="password" placeholder="Enter your password">
                <input type="submit" value="Sign up">
                <div class="input-google">
                    <i class="fa-brands fa-google"></i>
                    <span>Sign up with google</span>
                </div>
            </form>
            <div class="sign-in-register">
            <span>Already registered ? <a href="../sign-in/signinform.html">Sign in</a></span>
            </div>
        </div>
    </div>
</body>
</html>